<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hydrophonics Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/tupmicro_styles.css">
</head>
<body>

  <!-- Hidden checkbox toggle -->
  <input type="checkbox" id="menu-toggle" />

  <!-- Header -->
  <header>
    <label for="menu-toggle" class="hamburger">
      <i class="ri-menu-line"></i>
    </label>
    <div class="title">
        <img src="../static/tupmu_hydroponics.png">
    </div>
    
  </header>

  <!-- Side Drawer -->
  <nav class="drawer">
    <a href="../tupmicrogreens" >Dashboard</a>
    <a href="../tupmicrogreens/algae">Algae Status</a>
    <a href="../tupmicrogreens/settings">Machine Settings</a>
    <a href="../tupmicrogreens/controls">Machine Controls</a>
    <a href="../tupmicrogreens/about" class="active">About Us</a>
  </nav>

  <!-- Overlay -->
  <label for="menu-toggle" class="overlay"></label>
  <img src="../static/tupmu_logo.png" style="width: 90vw; margin-top: 15vh; margin-left: 5vw;">
  <div class="paragraph">
    Designing an Automated Indoor Nutrient Film Technique (NFT) Hydroponic System for Microgreens: Integrating Internet of Things (IoT)-Based Artificial Intelligence (AI) Control with Algae Prevention
  </div>
   
</body>
</html>
