<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hydrophonics Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/tupmicro_styles.css">
</head>
<body>

  <!-- Hidden checkbox toggle -->
  <input type="checkbox" id="menu-toggle" />

  <!-- Header -->
  <header>
    <label for="menu-toggle" class="hamburger">
      <i class="ri-menu-line"></i>
    </label>
    <div class="title">
        <img src="../static/tupmu_hydroponics.png">
    </div>
    
  </header>

  <!-- Side Drawer -->
  <nav class="drawer">
    <a href="../tupmicrogreens" >Dashboard</a>
    <a href="../tupmicrogreens/algae" class="active">Algae Status</a>
    <a href="../tupmicrogreens/settings">Machine Settings</a>
    <a href="../tupmicrogreens/controls">Machine Controls</a>
    <a href="../tupmicrogreens/about" >About Us</a>
  </nav>

  <!-- Overlay -->
  <label for="menu-toggle" class="overlay"></label>

  <h1 class="title11">Algae Status</h1>
  <img id="previewImage" src="" alt="No image yet" style="width: 80vw; margin-left: 10vw;">

  <button class="button1" onclick="detectAlgae()">Detect</button>
  <p style="text-align: center;"><u><b>Diagnostic Result</b></u></p>
  <div style="margin-left: 10vw; line-height: 5px; font-size: 17px;">
    
    <p id="algae_status"><b>Result:</b> N/A</p>
    <p id="conf_score"><b>Confidence Score:</b> N/A</p>
    <p id="status"><b>Description:</b> N/A</p>
  </div>
  
   
</body>
<script>
  function refreshImage() {
    const img = document.getElementById("previewImage");
    img.src = "/tupmicrogreens/api/view?t=" + new Date().getTime();
  }

  // Initial load
  refreshImage();

  // Refresh every 10 seconds
  setInterval(refreshImage, 1000);
</script>

<script>
  function detectAlgae() {
    fetch('/tupmicrogreens/api/detect', {
      method: 'POST'
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById("algae_status").innerHTML = `<b>Result:</b> ${data.result}`;
      document.getElementById("conf_score").innerHTML = `<b>Confidence Score:</b> ${data.confidence}`;
      document.getElementById("status").innerHTML = `<b>Description:</b> ${data.description}`;
    })
    .catch(err => {
      alert("Detection failed: " + err);
    });
  }
</script>
</html>
