body { font-family: Arial, sans-serif; background: url('tupmu_bkg.png') no-repeat center center/cover; height: 100vh;}
.tabs {
    display: flex; 
    justify-content: center;
    border-bottom: 3px solid #423f32;
    background: white;
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.tab {
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #423f32;
    background: none;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;
    border-radius: 5px;
}
.tab:hover, .tab.active {
    background-color: #423f32;
    color: white;
}
.tab-content {
    display: none; 
    padding: 20px; 
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.tab-content.active { 
    display: block; 
}
.container {
    max-width: 800px;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #423f32;
    color: white;
}
canvas {
    width: 50% !important;
    max-height: 400px;
}
select {
    padding: 10px;
    border: 2px solid #423f32;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    color: #423f32;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}
select:hover {
    background: #423f32;
    color: white;
}
select:focus {
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}